TABLE_NAME A-Z, a-z, 0-9, _

** CREATE TABLE WITH COLUMN SPECIFICATION
SYNTAX
CREATE TABLE TABLE_NAME (COLUMN_NAME DATA-TYPE(SIZE) CONSTRAINT SPECIFICATION,
COLUMN_NAME ......)

EXAMPLE
CREATE TABLE COURSES(CNO NUMBER(3),CTYPE CHAR(2),CNAME VARCHAR2(20))

CREATE TABLE STUDENTS(RNO NUMBER(3),SNAME VARCHAR2(20),
PERCENTAGE NUMBER(5,2),LABID NUMBER(3),CITY VARCHAR2(20),DBT DATE,COURSE_TYPE CHAR(2))


** CREATE TABLE WITH COLUMN LEVEL CONSTRAINTS (SYSTEM GENERATED CONSTRAINT NAME)

PRIMARY KEY - ONLY ONE COLUMN CAN BE PRIMARY KEY
PRIMARY KEY IS BY DEFAULT UNIQUE AND NON NULL
CAN BE USED TO ESTABLISH RELATIONSHIP BETWEEN THE TABLES i.e. it can act as foreign key IN ANOTHER TABLE

NOT NULL - UNLESS SPECIFIED WITH NOT NULL CONSTRAINT, THE COLUMN CAN STORE NULL VALUES. NOT NULL ENSURES THAT THE COLUMN DO NOT STORE NULL

CHECK - CHECK (CONDITION) THE DATA SATISFYING THE GIVEN CONDITION ONLY CAN ENTER THE COLUMN
CHECK (PERCENTAGE<=100.00)
CHECK (COURSE_TYPE IN ('UG','PG'))

UNIQUE - ENSURES THAT ONLY UNIQUE DATA ENTERS THE COLUMN. BUT IT ALLOWS NULL VALUES
CAN BE USED TO ESTABLISH RELATIONSHIP BETWEEN THE TABLES i.e. it can act as foreign key IN OTHER TABLE

FOREIGN KEY - used to ESTABLISH RELATIONSHIP BETWEEN THE TABLES i.e. it takes primary key column or unique key column as foreign key
REFERENCES TABLENAME(COLUMNNAME)
REFERENCES DEPT(DEPTNO)
THE DATATYPE AND SIZE SHOULD MATCH 

CLAUSE
DEFAULT - IN CASE VALUE IS NOT SUPPLIED THE DEFAULT VALUE IS CONSIDERED FOR THE COLUMN
CITY DEFAULT 'MUMBAI' 



CREATE TABLE COURSES(CNO NUMBER(3) PRIMARY KEY,CTYPE CHAR(2) CHECK (CTYPE IN ('UG','PG')),CNAME VARCHAR2(20) NOT NULL)

CREATE TABLE COURSES(CNO NUMBER(3) CONSTRAINT PK_CNO PRIMARY KEY,CTYPE CHAR(2) CONSTRAINT CHK_CTYPE CHECK (CTYPE IN ('UG','PG')),CNAME VARCHAR2(20) CONSTRAINT NN_CNAME NOT NULL)


CREATE TABLE STUDENTS(RNO NUMBER(3) CONSTRAINT PK_RNO PRIMARY KEY,SNAME VARCHAR2(20) CONSTRAINT NN_SNAME NOT NULL,
PERCENTAGE NUMBER(5,2) CONSTRAINT CHK_PER CHECK (PERCENTAGE<=100.00),CITY VARCHAR2(20) DEFAULT 'MUMBAI',DBT DATE,CNO NUMBER(3) CONSTRAINT FK_COURSES_CNO REFERENCES COURSES(CNO),ADHARNO NUMBER CONSTRAINT UNQ_ADHAR UNIQUE)

COURSE NUMBER IN STUDENTS TABLE REFERENCES COURSE NUMBER IN COURSES TABLE



CORSES CNO PRIMARY KEY 
INSTRUCTORS INO PRIMARY KEY


ALLOCATION
CNO INO 
C101 I1  => C101,I1 COMBINATION IS UNIQUE
C102 I1
C1O3 I2
C102 I2
COMPOSITE PRIMARY KEY. AS IT INCLUDES 2 COLUMNS AND AS PER RULE WE CANNOT HAVE 2 COLUMNS AS PRIMARY KEY, THIS IS RESOLVED USING TABLE LEVEL CONSTRAINT AND COMPOSITE PRIMARY KEY


INSTRUCTORS INO PRIMARY KEY (INDEPENDENT)
CORSES CNO PRIMARY KEY   (PARENT)
STUDENT  SNO , CNO FOREIGN KEY (CHILD)

DROP TABLE INSTRUCTORS => DELETE ALL THE TUPLES PERMANENTLY AND REMOVE THE TABLE STUCTURE


DROP TABLE COURSES DIRECTLY => ERROR
DROP TABLE STUDENT THEN DROP TABLE COUURSES => VALID
DROP TABLE COURSES CASCADE CONSTRAINTS => REMOVE ALL REFERENCIAL INTEGRITY CONSTRAINTS AND HENCE ALLOWS TO DROP THE TABLE
